body{
    background-color: #fff;
    height: 100%;
}

.navbar>.container {
    display: inline-block;
}

.navbar{
    position: fixed;
    background-color: #222222;
}

.page-header {
    font-size: 40px;
    color: #000;
}

.collapse {
    margin-left: 140px;
}

#sidebar {
    position: fixed;
    top: 50px;
    left: 220px;
    width: 220px;
    margin-left: -220px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    background-color: #222;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px;
  }
  
  .side-bar > li > a {
    color: #eee;
    width: 220px;
  }
  
  .side-bar li a:hover,
  .side-bar li a:focus {
    background-color: #333;
  }
  
  .tmargin {
    margin-top: 15px;
  }

  .question__block{
    border: 1px solid #000;
    color: red;
  }

  :root{
  --primary-color: #0D6FFA;
  --text-color: rgba(0,0,0,0.65);
  --light-color: #ffffff;
  --elevation-1: 0px 1px 4px rgba(0, 0, 0, 0.08), 0px 1px 2px rgba(0, 0, 0, 0.12);
  --elevation-2: 0px 2px 8px rgba(0, 0, 0, 0.08), 0px 2px 4px rgba(0, 0, 0, 0.12);
  --elevation-3: 0px 3px 12px rgba(0, 0, 0, 0.08), 0px 3px 6px rgba(0, 0, 0, 0.12);
}

.as-container{
  display:flex;
  
  height:100%;
  justify-content:center;
  align-items:center;
}
.as-choice-card{
  position:relative;
  display:flex;
  
  flex-direction: column;
  align-items:center;
  padding:72px 16px 32px 16px;
  width: 480px;
  
  text-align: center;
  box-shadow: var(--elevation-1);
  background-color:#ffffff;
  
  cursor: pointer;
}
.as-choice-card *{
  position:relative;
  z-index:2;
}
.as-choice-card:after{
  content: '';
  position:absolute;
  
  top:0;
  left:0;
  width:4px;
  height:100%;
  
  background-color:var(--primary-color);
  transition: ease-in-out .3s;
  z-index:0;
}
.as-card-icon{
  position:absolute;
  display:flex;
  
  justify-content:center;
  align-items:center;
  width:72px;
  height:72px;
  top: -36px;
  
  font-size: 25px;
  color:var(--light-color);
  background-color:var(--primary-color);
  border-radius:50%;
  box-shadow: var(--elevation-2);
  transition: ease-in-out .3s;
}
.as-card-title,
.as-card-info{
  transition:ease-in-out .3s;
}
.as-card-info{
  width: 403px;;
  padding-bottom:32px;
  margin:0;
}
.as-card-cta{
  padding: 12px 36px;
  
  border-radius:30px;
  border:none;
  background-color: var(--primary-color);
  color: var(--light-color);
  box-shadow: var(--elevation-3);
  transition: ease-in-out .3s;
}
.as-choice-card:hover{
  --text-color: #FFFFFF;
  --primary-color: #ffffff;
  --light-color: #0D6FFA;
  
  color: var(--text-color);
}
.as-choice-card:hover:after{
  --primary-color: #0D6FFA;
  
  width:100%;
}

/* ------------------------- */
:root{
  --primary-color: #2BB24C;
  --text-color: rgba(0,0,0,0.65);
  --light-color: #ffffff;
  --elevation-1: 0px 1px 4px rgba(0, 0, 0, 0.08), 0px 1px 2px rgba(0, 0, 0, 0.12);
  --elevation-2: 0px 2px 8px rgba(0, 0, 0, 0.08), 0px 2px 4px rgba(0, 0, 0, 0.12);
  --elevation-3: 0px 3px 12px rgba(0, 0, 0, 0.08), 0px 3px 6px rgba(0, 0, 0, 0.12);
}

body{  
  font-family: "Roboto",sans-serif;
  color: var(--text-color);
   background-color: #CBD3F1;
}
.as-container{
  display:flex;
  
  height:100%;
  justify-content:center;
  align-items:center;
  padding-top: 20px;
}
.as-choice-card{
  position:relative;
  display:flex;
  
  flex-direction: column;
  align-items:center;
  padding:72px 16px 32px 16px;
  width: 480px;
  
  text-align: center;
  box-shadow: var(--elevation-1);
  background-color:#ffffff;
  
  cursor: pointer;
}
.as-choice-card *{
  position:relative;
  z-index:2;
}
.as-choice-card:after{
  content: '';
  position:absolute;
  
  top:0;
  left:0;
  width:4px;
  height:100%;
  
  background-color:var(--primary-color);
  transition: ease-in-out .3s;
  z-index:0;
}
.as-card-icon{
  position:absolute;
  display:flex;
  
  justify-content:center;
  align-items:center;
  width:72px;
  height:72px;
  top: -36px;
  
  font-size: 25px;
  color:var(--light-color);
  background-color:var(--primary-color);
  border-radius:50%;
  box-shadow: var(--elevation-2);
  transition: ease-in-out .3s;
}
.as-card-title,
.as-card-info{
  transition:ease-in-out .3s;
}
.as-card-info{
  width: 403px;;
  padding-bottom:32px;
  margin-top: 10px;
}
.as-card-cta{
  padding: 12px 36px;
  
  border-radius:30px;
  border:none;
  background-color: var(--primary-color);
  color: var(--light-color);
  box-shadow: var(--elevation-3);
  transition: ease-in-out .3s;
}
.as-choice-card:hover{
  --text-color: #FFFFFF;
  --primary-color: #ffffff;
  --light-color: #2BB24C;
  
  color: var(--text-color);
}
.as-choice-card:hover:after{
  --primary-color: #2BB24C;
  
  width:100%;
}

.page-header {
  margin-top: 120px;
}

